<%= form_for :session, url: session_path, html: {class: 'form-signin'} do |form| %>
  <h2 class="form-signin-heading">Sign in</h2>
  <%= form.text_field :email, type: 'email', placeholder: 'Email address', class: 'form-control' %>
  <%= form.password_field :password, placeholder: 'Password', class: 'form-control' %>
  <%= form.submit 'Sign in', class: 'btn btn-lg btn-primary btn-block' %>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <div><%= link_to t(".sign_up"), sign_up_path %></div>
    <% end %>
    <div><%= link_to t(".forgot_password"), new_password_path %></div>
  </div>
<% end %>
