<% content_for :page_title do %>
  <h5>Projects</h5>
<% end %>

<div class="section rtt-table">
  <table class="table">
    <tbody>
      <% @projects.each do |project| %>
        <tr class="js-clickable-row" data-href= "<%= edit_project_path(project) %>">
          <td><div class="tag-color" style= "background-color: <%= project.color %>"></div><b><%= project.name %></b></td>
          <td class="actions right-align hide-on-med-and-down">
            <%= link_to raw('<i class="material-icons">mode_edit</i>'), edit_project_path(project), id: "rat-edit-project-#{project.id}", class: 'text-warning' %>
            <%= link_to raw('<i class="material-icons">delete</i>'), project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- Button tracker creation -->
  <div class="fixed-action-btn" style="bottom: 45px; right: 40px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating blue hide-on-med-and-down modal-trigger" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" href="#new-project"><i class="material-icons">web</i></a></li>
      <li><a class="btn-floating blue modal-trigger hide-on-large-only" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" href="/projects/new"><i class="material-icons">web</i></a></li>
    </ul>
  </div>
  <!-- end button -->

</div>

<!-- Modal Structure -->
<div id="new-project" class="modal">
  <%= simple_form_for @project do |f| %>
    <div class="modal-content">
      <h4>Create a project</h4>
        <%= f.input :name %>
        <%= f.input :color, as: :color, input_html: { default_value: "#FF0000"} %>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
<!-- End Modal Structure -->
