<% content_for :page_title do %>
  <h5>Trackers</h5>
<% end %>

<div id="rtt-last-five-days" class="section hide-on-med-and-down">
  <table class= "table" style="text-align: center">
    <thead>
      <tr>
        <% ((4.days.ago.to_date)..(DateTime.now.to_date)).each do |day| %>
        <th class="center-align"><%= day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr class="center-align">
        <% ((4.days.ago.to_date)..(DateTime.now.to_date)).each do |day| %>
          <td>
            <div style="width: 100px; margin:auto">
              <canvas class="js-tracker-day-chart"
                      data-labels='<%= raw project_chart_label(current_user, day) %>',
                      data-values='<%= project_chart_data(current_user, day) %>'
                      data-colors='<%= project_chart_color(current_user, day) %>'>
              </canvas>
            </div>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
<div class="divider"></div>

<div id="rtt-log-entries" class="rtt-table section">
  <table class= "table borderless">
    <tbody>
      <% @trackers.each do |tracker| %>
        <tr class="js-clickable-row" data-href= "<%= edit_tracker_path(tracker) %>">
          <td><div style="padding:0 0 0 2px;border-left: 3px solid <%= tracker.project.color %>"><i><%= tracker.duration %></i></div></td>
          <td>
            <span><b><%= tracker.project_name %></b></span><br />
            <span class="tracker-description"><%= tracker.description %></span>
          </td>
          <td class="right-align"><i><%= l tracker.logged_date, format: "%Y/%m/%d" %></i></td>
          <td class="actions right-align hide-on-med-and-down">
            <%= link_to raw('<i class="material-icons">mode_edit</i>'), edit_tracker_path(tracker), id: "rat-edit-tracker-#{tracker.id}", class: 'text-warning ' %>
            <%= link_to raw('<i class="material-icons">delete</i>'), tracker, method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <!-- Button tracker creation -->
  <div class="fixed-action-btn" style="bottom: 45px; right: 40px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">add</i>
    </a>
    <ul>
      <li><a class="btn-floating blue hide-on-med-and-down modal-trigger" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" href="#new-tracker"><i class="material-icons">schedule</i></a></li>
      <li><a class="btn-floating blue modal-trigger hide-on-large-only" style="transform: scaleY(0.4) scaleX(0.4) translateY(40px) translateX(0px); opacity: 0;" href="/trackers/new"><i class="material-icons">schedule</i></a></li>
    </ul>
  </div>
  <!-- end button -->
</div>

<!-- Modal Structure -->
<div id="new-tracker" class="modal modal-fixed-footer">
  <%= simple_form_for @tracker do |f| %>
    <div class="modal-content">
      <h4>Create a tracker</h4>
        <%= f.input :logged_date, as: :string, input_html: { class: "datepicker" } %>
        <%= f.input :duration %>
        <%= f.association :project, collection: current_user.projects.order(:name), prompt: "Choose a Project" %>
        <%= f.input :description %>

    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
<!-- End Modal Structure -->
