<p>Logged date: <%= @tracker.logged_date %></p>
<p>Project: <%= @tracker.project_name %></p>
<p>Duration: <%= tracker_duration(@tracker.duration_time) %></p>
<p>Desription: <%= @tracker.description %></p>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
