<!DOCTYPE html>
<html lang="en">
  <head>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= csrf_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="container z-depth-2">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">RataTime</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <% if signed_in? %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%= active_li_link_to 'Trackers', trackers_path, {}, {controller: 'trackers'} %>
            <%= active_li_link_to 'Projects', projects_path, {}, {controller: 'projects'} %>
            <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <%= active_li_link_to 'Trackers', trackers_path, {}, {controller: 'trackers'} %>
            <%= active_li_link_to 'Projects', projects_path, {}, {controller: 'projects'} %>
            <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
          </ul>
        <% end %>
      </div>
    </nav>
    <div class="section container page-title z-depth-2">
      <%= yield :page_title %>
    </div>
    <div class="container section content z-depth-2">
      <div class="row">
        <div class="col s8 push-s2">
          <%= render partial: "layouts/flash_messages", flash: flash %>
        </div>
      </div>
      <%= yield %>
    </div>
    <%= yield :charts_js %>
  </body>
</html>
